<main class="container mt-5">
    <h1 class="mb-4">Edit Post</h1>
    <form class="update-soccer-post-form" class="mb-3">
        <div class="mb-3">
            <label for="title-update-soccer-post" class="form-label">Title</label>
            <input type="text" class="form-control" id="title-update-soccer-post" placeholder="Enter post title"
                value="{{title}}" />
        </div>
        <div class="mb-3">
            <label for="content-update-soccer-post" class="form-label">Content</label>
            <textarea class="form-control" id="content-update-soccer-post" rows="3"
                placeholder="Enter post content">{{content}}</textarea>
        </div>
        <button type="submit" id="update-soccer-post" class="btn btn-primary">Update Post</button>
        <button type="button" id="delete-soccer-post" class="btn btn-danger">Delete Post</button>
    </form>
</main>