.post-container {
    transition: background-color 0.3s;
}

.post-container:hover {
    border-right: 1em solid #656565;

    border-radius: 0.5em;
}

.img {
    background-image: url('/assets/soccer.jpg');
    position: absolute;
    background-origin: border-box;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100vw;
    height: 200vh;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -100;
    opacity: 100%;
}